.navigation-bar {
    display: flex;
    overflow-x: auto;
    gap: 1rem;

    background-color: #231E16;
    padding: 0 32px;

    border-bottom: 1px solid var(--border-default);

    scrollbar-width: none; /* Firefox */
}

.navigation-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.navigation-bar > * {
    flex-shrink: 0;
}

.navigation-bar a {
    flex-shrink: 0;

    color: inherit;
    text-decoration: none;
}