.letter-frequency {
    background: linear-gradient(
        90deg,
        var(--accent-primary),
        var(--text-muted)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}