.tool-header {
  border-bottom: 1px solid rgb(from var(--accent-primary) r g b / 0.3);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.tool-header h2 {
  padding-bottom: 0.6rem;

  color: var(--accent-primary);
  letter-spacing: 0.15em;
  font-size: 0.8rem;
  font-weight: 50;
  font-family: var(--font-body);
  text-transform: uppercase;
}