.cipher-mode-selector {
    display: flex;
    width: 100%;
    
    margin: 1rem 0;

    overflow: hidden;
}

.cipher-mode-selector button {
    flex: 1;
    padding: 0.75rem;

    background-color: var(--bg-card);
    color: var(--text-muted);

    border: none;
    cursor: pointer;

    font-family: var(--font-body);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.cipher-mode-selector button.active {
    background-color: var(--accent-primary);
    color: var(--bg-card);
}