.tool-card {
    background-color: #161310;
    border: 1px solid #2E281A;
    padding: 1.4rem;

    transition: border-color 0.2s ease;
}

.tool-card:hover {
    border-color: var(--accent-primary);

}

.tool-card:hover .open-tool-button {
    background-color: var(--accent-primary);
    color: #161310;
    border-color: var(--accent-primary);
}

.tool-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visualisation-symbol {
    color: #755F37;
    padding: 0.6rem;
}

.tool-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool-title {
    font-family: var(--font-title);
    font-weight: 100;

    padding: 1rem 0rem 0.2rem 0rem;
}

.tool-category {
    color: #755F37;
    font-family: var(--font-body);
    font-size: 0.9rem;
}

.tool-origin {
    font-family: var(--font-body);
    font-size: 0.8rem;
    padding: 1rem 0rem 1rem 0rem;
}

.tool-description {
    font-family: var(--font-body);
    font-size: 0.8rem;
}

.tool-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.tool-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 70%;
}